body {
    padding-bottom: 20px;
}

.navbar-brand {
/*    color: #333333 !important;*/
    font-size: 25px;
}

.jumbotron {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 30px !important;
}


.column {
    float: left;
    width: 45%;
}

h3 {
    margin-top: 10px;
}

.box-title {
    display: inline-block;
    vertical-align: middle;
}

.text-area {
    display: inline-block;
    width: 100%;
    float: left;
    font-family: "Courier New";
    text-align: justify;
    text-justify: distribute;
}

.controller {
    display: inline-block;
    width: 10%;
    height: 100%;
    float: left;
    position: relative;
}

.controller-buttons {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -25px;
}

.record_table{
/*    font-family: "Courier New", "WenQuanYi Zen Hei";*/
    width: 100%;
    font-size: 9pt;
}

.row-center{
/*    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;*/
    text-align: center !important;
}

.col-center{
    display: inline-block !important;
    float: none !important;

}
table th, td{
    text-align: center !important;
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.warning{
    color: red;
}

.table-fix-width{
    table-layout: fixed !important;
}

.preview{
    padding: 10px;
    border-style: double;
    border-width: 3px;
}

.fileUpload{
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
