body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #A9CFFF;
}

/*
h3 {
    margin-top: 10px;
}
.row {
    margin: 10px;
    padding: 0px;
    height: 320px;
}

.text-area {
    display: inline-block;
    width: 50%;
    float: left;
}

.jumbotron {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.box-title {
    display: inline-block;
    vertical-align: middle;
}
*/
