<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="author" content="phoenix04104">
	
    <title>Softball Record Parser</title>
    
    <link rel="shortcut icon" href="/static/image/bat.jpg">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/record.css" rel="stylesheet">
    <link href="/static/css/jquery-linedtextarea.css" rel="stylesheet">

    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/record.js"></script>
    <script src="/static/js/jquery-linedtextarea.js"></script>
</head>
<body>
    
<!--  header  -->    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">Softball Record Parser</div>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/phoenix104104/Baseball_Record_Parser">Github</a></li>
                </ul>
            </div>
        </div>
    </div>

<!--  content  -->
    <div class="container">

        <form action='/' method="POST">

    		<div class="row row-center">
    			<div class="col-xs-3 col-center">	
    				<div class="form-horizontal">
                        <div class="form-group">
    						<label class="col-sm-3 control-label">聯賽</label>
    						<div class="col-sm-9">
                                <input type="text" class='form-control' name="game_type" value="{{game.game_type}}">
                            </div>
    					</div>
    					<div class="form-group">
    						<label class="col-sm-3 control-label">日期</label>
    						<div class="col-sm-9">
                                <input type="date" class="form-control" name="date" value="{{game.date}}">
                            </div>
    					</div>
    					<div class="form-group">
    						<label class="col-sm-3 control-label">地點</label>
    						<div class="col-sm-9">
                                <input type="text" class="form-control" name="location" size="2" class="form-control" value="{{game.location}}">
                            </div>
    					</div>
    					<div class="form-group">
   							<label class="col-sm-3 control-label">場次</label>
    						<div class="col-sm-9">
                                <input type="number" class="form-control" name="game_id" value="{{id}}"><br>
                            </div>
    					</div>
    				</div>
    			</div>	
            </div>
    
    
    		<div class="row title warning">
    			{{warning}}
    		</div>
    
            <div class="row">
                <div class="col-md-6"> 
                    <div class="title">
                        AWAY
                    </div>
            	    <table class="table table-condensed table-bordered">
    				    <thead>
    					    <tr>
    						    <th>隊伍</th>
        						<th>1</th>
    	    					<th>2</th>
    		   					<th>3</th>
    		    				<th>4</th>
    			    			<th>5</th>
    				    		<th>6</th>
    					    	<th>7</th>
        					</tr>
    	    			</thead>
    		   			<tbody>
    		    			<tr>
    			    			<th><input type="text" class="form-control" size="6" name="away_team_name" value="{{game.away.name}}"></th>
                                {% for score in game.away.scores %}
    				    		<th><input type="text" class="form-control" size="1" name="away_score_{{loop.index}}" value="{{score}}"</th>
                                {% endfor %}
    			    		</tr>
    				    </tbody>
        			</table>
    
                    <textarea class="record_table lined" name="away_record" rows="12">{{away_record}}</textarea>
                </div>
    
    
                <div class="col-md-6"> 
                    <div class="title">
                        HOME
                    </div>
        			<table class="table table-condensed table-bordered">
    	    			<thead>
    		   				<tr>
    		    				<th>隊伍</th>
    			    			<th>1</th>
    				    		<th>2</th>
    					    	<th>3</th>
    						    <th>4</th>
        						<th>5</th>
    	    					<th>6</th>
    		   					<th>7</th>
    		    			</tr>
    			    	</thead>
    				    <tbody>
        					<tr>
        						<th><input type="text" class="form-control" size="6" name="home_team_name" value="{{game.home.name}}"></th>
                                {% for score in game.home.scores %}
    				    		<th><input type="text" class="form-control" size="1" name="home_score_{{loop.index}}" value="{{score}}"</th>
                                {% endfor %}
        				</tbody>
    	    		</table>
    
                    <textarea class="record_table lined" name="home_record" rows="11">{{home_record}}</textarea>
                </div>
            </div>
    
            <br>
            <div class="panel-group" role="tablist">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="false" aria-controls="collapseListGroup1">
                                instruction
                            </a>
                        </h4>
                    </div>
                    <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingListGroupHeading1">
                        <ul class="list-group">
                            <li class="list-group-item">blabla</li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>     

            <div class="row">
                <div class="row-center">
                    <input type="submit" class="btn btn-primary" name="preview" value="預覽">
    				<input type="submit" class="btn btn-success" name="download" value="下載">
                </div>
            </div>

        </form>
        
        <br>
        <br>
        {% if preview %}
        <div class="preview">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <table class="table table-condensed table-bordered table-fixed-width table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                            <th>R</th>
                            <th>H</th>
                            <th>E</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{game.away.name}}</td>
                            {% for score in game.away.scores %}
                                <td>{{score}}</td>
                            {% endfor %}
                            <td>{{game.away.R}}</td>
                            <td>{{game.away.H}}</td>
                            <td>{{game.away.E}}</td>
                        </tr>
                        <tr>
                            <td>{{game.home.name}}</td>
                            {% for score in game.home.scores %}
                                <td>{{score}}</td>
                            {% endfor %}
                            <td>{{game.home.R}}</td>
                            <td>{{game.home.H}}</td>
                            <td>{{game.home.E}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-condensed table-bordered table-hover">
                    {% for row in game.away.batter_table %}
                    <tr>
                        {% for col in row %}
                            <td>{{col}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-condensed table-bordered table-hover">
                    {% for row in game.home.batter_table %}
                    <tr>
                        {% for col in row %}
                            <td>{{col}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-condensed table-bordered table-hover">
                    {% for row in game.away.pitcher_table %}
                    <tr>
                        {% for col in row %}
                            <td>{{col}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-condensed table-bordered table-hover">
                    {% for row in game.home.pitcher_table %}
                    <tr>
                        {% for col in row %}
                            <td>{{col}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}

    </div>
    </div>


</body>
</html>
