<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="author" content="phoenix04104">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/record.css" rel="stylesheet">
	<title>Baseball Record</title>

</head>
<body>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/record.js"></script>
    
    
    <div class="container">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Baseball Record Parser</a>
            </div>
            <div class="navbar">
                author
            </div>
        </div>
        <div class="jumbotron">
            <div class="row">
                <div class="text-area">
                    <h3 class="box-title">Input</h3>
                    <input type="button" value="test">
                    <textarea class="form-control" id="input" rows="12"></textarea>
                </div>
                
                <div class="text-area">
                    <h3 class="box-title">Output</h3>
                    <textarea class="form-control" id="output" rows="12"></textarea>
                </div>
            </div>
            <input type="button" id="enter" value="輸入">
        </div>
    </div>

</body>
</html>
